#top
  .container
    #top-content
      - if user_signed_in?
        .expanded{style:"display:none;"}
          %ul
            - if current_user.organisation_resources.any?
              %li.label Current Organisation
              - current_user.organisation_resources.each do |org|
                - is_current_org = (current_organisation.uri == org.uri)
                = content_tag :li, class: is_current_org ? 'current' : '' do
                  = link_to dashboard_path(org_id: org.guid) do
                    - if is_current_org
                      %i.icon-check
                    = org.name
              %li.divider

            %li= link_to "Dashboard", dashboard_path
            %li= link_to "Log out", destroy_user_session_path

        %a.current-user{href:"#"}
          %i.icon-user
          Accounts
          %i.icon-triangle-down
          %i.icon-triangle-up{style:"display:none"}

        :javascript
          $("#top a.current-user").click( function(e) {
            e.stopPropagation();
            e.preventDefault();
            $("#top .expanded").toggle();
            $("#top i.icon-triangle-down").toggle();
            $("#top i.icon-triangle-up").toggle();
          });

          $("#top .expanded").click(function(e){
            e.stopPropagation();
          });

          $("html").click(function() {
            $("#top .expanded").hide();
          });
        

      - else
        = link_to "Log in", new_user_session_path
        \|
        = link_to "Register your organisation", [:organisations, :build, :new_user]