= simple_form_for [:admin, event] do |f|
  = f.input :name
  = f.input :url, label: "URL (including http://)"
  = f.input :start_date, as: :date, order: [:day, :month, :year]
  = f.input :end_date, as: :date, order: [:day, :month, :year]
  
  = f.submit (event.new_record? ? "Create event" : "Update event"), class: 'button'