%li
  .name= project.name

  .row.clearfix
    .progress
      = render "dashboard/projects/list/progress_bar", project: project
      
      - if project.progress_percent < 100
        = link_to "Complete details", edit_project_path(project.guid)
      - else
        = link_to "Edit details", edit_project_path(project.guid)

    .organisations
      = render "dashboard/projects/list/count", project: project
      