#header.clearfix
  .logo-wrapper
    %a.logo{ href: '/' }

    .menu
      = link_to "Pages", [:admin, :pages]
      = link_to "Categories", [:admin, :page_categories]
      = link_to "Events", [:admin, :events]
      = link_to "Blog", [:admin, :blog_posts]
      = link_to "Attachments", [:admin, :attachments]
      = link_to "Users", [:admin, :users]
      = link_to "Admins", [:admin, :admins]
      = link_to "Help", [:admin, :help]
      = link_to "Sign out", destroy_admin_session_path

.hr.hr2.hr-full