.projects.dashboard-section
  %h3 Activities

  - if current_organisation.projects.count > 0 || current_organisation.pending_project_requests_by_self.any?

    %ul
      - current_organisation.projects.resources.each do |proj|
        %li
          %p
            %strong= proj.name
          %p
            = link_to "View", project_path(proj)
            |
            = link_to "Edit", edit_project_path(proj.guid)
            |
            = link_to "Invite another organisation", invite_project_path(proj)

      - current_organisation.pending_project_requests_by_self.each do |req|
        %li
          %p
            %strong #{req.project_resource.name}
          %p
            %em (Pending)

    = link_to "Add/join another activity", [:new, :project], class: 'button'

  - else

    = link_to "Add/join an activity", [:new, :project], class: 'button'

- reset_cycle