.users.dashboard-section
  %h3 Users

  %ul

    - current_organisation.users.each do |u|
      %li
        %p
          %strong= u.first_name
          - if u.id == current_user.id
            = "(you)"
            
            = link_to "Edit profile", edit_user_path
        %p
          %em= u.email

  = link_to "Invite users", [:invite_users, current_organisation], class: 'button'
