= simple_form_for organisation do |f|
  = f.input :name, required: true
  = f.input :contact_name, required: true
  = f.input :email, required: true
  = f.input :password, required: true
  = f.input :lat, required: true
  = f.input :lng, required: true

  = f.submit "Save"