.dashboard
  %h1 #{current_organisation.name}'s Dashboard
  = render "dashboard/tabs", active: "Location"

  = simple_form_for @organisation, url: [:update_location, current_organisation] do |f|

    = render 'organisations/fields/location', f: f

    .wizard-button-wrapper
      = f.button :submit, 'Update location'