.index
  .title
    %h1 Organisations

    = render 'shared/search_form', placeholder: 'Search by organisation name...'

  - if @organisations.any?
    %ul.organisations
      - @organisations.each do |o|
        %li.clearfix
          .image
            = image_tag o.image_url

          .details
            .header= link_to o.name, o
            .subheader= o.address_str

    = paginate @organisations

  - elsif params[:q].present?
    .no-results
      No organisations were found for the search term "#{params[:q]}".

  .cta
    - if current_user && current_organisation
      - if current_user.organisation_memberships.count == 1
        You are a member of an organisation
      - else
        You are a member of #{current_user.organisation_memberships.count} organisations
      = link_to "Add another organisation", [:organisations, :build, :new_organisation], class: 'button button-black'
    - elsif @organisations.any?
      %span Are you are a member of any of these organisations?
      = link_to "Add/Join an organisation", [:organisations, :build, :new_user], class: 'button button-black'
    - else
      = link_to "Add/Join your organisation", [:organisations, :build, :new_user], class: 'button button-black'
