- hilight_in_menu 'organisations'
= render 'shared/sub_nav', navigation: community_menu

- content_for :admin_actions do
  = link_to "Remove this organisation", organisation_path(@organisation), method: :delete, confirm: "Are you sure you wish to remove this organisation?\n\rActivities associated solely with this organisation will also be removed."
  \|

.show
  .show-row.grey
    .container
      .title
        = image_tag "icons/organisation-large.png"
        %h1= @organisation.name

  .show-row.org-viz
    .container
      .viz-1
        %h2 DSI Areas
      .viz-2
        %h2 Technology Areas
      .viz-3
        %h2 Collaborators
        

  .show-row.grey.org-details
    .container
      .left-column.details

        %p.label Address
        %p= @organisation.address_str.present? ? @organisation.address_str(",<br>").html_safe : "Not supplied"

        %p.label Type of Organisation
        %p= @organisation.organisation_type_label || "Not supplied"

        %p.label No. of Staff
        %p= @organisation.fte_range_label || "Not supplied"

        %p.label Website
        %p
          - if @organisation.webpage.present?
            = link_to @organisation.webpage, @organisation.webpage.to_s
          - else
            Not supplied

        %p.label Twitter
        %p
          - if @organisation.twitter_username.present?
            = link_to @organisation.twitter_username, "https://twitter.com/#{@organisation.twitter_username.gsub(/^@/,'')}"
          - else
            Not supplied

      - if @organisation.primary_site_resource.present?
        .right-column.map
          #show-map
          = render "organisations/show/map_js"

  .show-row.associations
    .container
      .left-column
        %h2 Projects

        - if @organisation.projects.count > 0

          %ul
            - @organisation.projects.resources.each do |p|
              %li
                .icon= link_to image_tag("icons/result-proj.png"), p
                .info
                  .info-row.top
                    .left= link_to p.name, p
                    .right= p.natures_str_for_organisation(@organisation)
                  .info-row.bottom
                    - count = p.organisations.count
                    .left
                      - count.times do
                        = image_tag "icons/organisation-grey.png"
                    .right= pluralize(count, 'Organisation')

        - else
          .empty #{@organisation.name} is not a member of any activities yet.


      .right-column.associations
        %h2 Partner Organisations

        - powc = @organisation.partner_organisations_with_count.sort_by{ |_, v| v[:count] }.reverse

        - if powc.any?
          - max = powc[0].last[:count]

          %ul
            - powc.each do |k, v|
              %li
                .icon= link_to image_tag("icons/result-org.png"), organisation_path(k)
                .info
                  .info-row.top
                    .left= link_to v[:name], organisation_path(k)
                  .info-row.bottom
                    - count = v[:count]
                    .left
                      - count.times do
                        = image_tag "icons/partner-grey.png"
                    .right= pluralize(count, 'Project')

        - else
          .empty #{@organisation.name} has no partner organisations yet.

  .show-row.cta

    - if current_user && @organisation.users.include?(current_user)

      %span You are a member of <strong>#{@organisation.name}</strong>
      = link_to "Edit organisation", edit_organisation_path(@organisation), class: 'button'
    - else
      %span Are you are a member of <strong>#{@organisation.name}</strong>?
      - if current_user
        = link_to "Join this organisation", request_to_join_organisation_path(@organisation), class: 'button button-black', confirm: 'Are you sure you wish to send a request to join this organisation?'
      - else
        = link_to "Join this organisation", request_to_join_organisation_path(@organisation), class: 'button button-black'

= javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js'
= render 'shared/tree_view_js'
