.show
  %h1= @organisation.name

  .show-row

    .left-column.details

      %p.label Address
      %p= @organisation.address_str(",<br>").html_safe

      %p.label Type of Organisation
      %p= @organisation.organisation_type_label || "Not supplied"

      %p.label No. of Staff
      %p= @organisation.fte_range_label || "Not supplied"

      %p.label Website
      %p
        - if @organisation.webpage.present?
          = link_to @organisation.webpage, @organisation.webpage.to_s
        - else
          Not supplied

      %p.label Twitter
      %p
        - if @organisation.twitter_username.present?
          = link_to "https://twitter.com/#{@organisation.twitter_username}", "https://twitter.com/#{@organisation.twitter_username}"
        - else
          Not supplied

    .right-column.map

      #show-map

      = render "organisations/show/map_js"


  .show-row
    .left-column.activities
      .hr.hr1
      %h2 Activities

      - if @organisation.projects.count > 0

        %ul
          - @organisation.projects.resources.each do |p|
            %li
              %p.name= link_to p.name, project_path(p), class: 'activity-name'
              %p.nature
                %em #{p.natures_str_for_organisation(@organisation)}
            
              - count = p.organisations.count
              %p.count
                - count.times do
                  %i.icon-location
                %span.text= pluralize(count, 'organisation')
      - else
        .empty #{@organisation.name} is not a member of any activities yet.


    .right-column.partners
      .hr.hr1
      %h2 Partner Organisations

      - if @organisation.partner_organisations_with_count.present?
        - max = @organisation.partner_organisations_with_count[0].last[:count]

        %ul
          - @organisation.partner_organisations_with_count.each do |k, v|
            - progress = ((v[:count].to_f / max) * 100).round
            %li
              %p.name= link_to v[:name], organisation_path(k)
              .progress
                .bar
                  .fill{ style: "width: #{progress}%;" }
                    %span.text
                      #{pluralize(v[:count], "activity")}

  .show-row.cta


    - if current_user && @organisation.users.include?(current_user)
      
      %span You are a member of this organisation.
      = link_to "Edit organisation", edit_organisation_path(@organisation), class: 'button'
    - else
      %span Are you are a member of this organisation?
      - if current_user
        = link_to "Join this organisation", request_to_join_organisation_path(@organisation), class: 'button button-green', confirm: 'Are you sure you wish to send a request to join this organisation?'
      - else
        = link_to "Join this organisation", request_to_join_organisation_path(@organisation), class: 'button button-green'
