%h1 Edit User Profile

= simple_form_for @user, url: user_path do |f|
  = f.input :first_name, required: true
  = f.input :email, required: true

  - if params[:p]
    = f.input :password, required: true
    = hidden_field_tag :p, params[:p]

  = f.button :submit, 'Save changes'