.dashboard

  - if current_organisation

    %h1 #{current_organisation.name}'s Dashboard

    = render "dashboard/tabs", active: "Activities"

    = render "users/dashboard/respondables"
    
    .dashboard-row.clearfix
      = render "users/dashboard/projects"
      = render "users/dashboard/users"

  %h2 Your account

  .dashboard-row.clearfix
    = render "users/dashboard/organisations"
    = render "users/dashboard/details"
