%h1 Dashboard

-if current_organisation
  %h2 Organisations

  %h3 Your organisations

  %ul
    - current_user.organisation_resources.each do |org|
      %li
        = org.name
        - if org.uri == current_organisation.uri
          (current)
          = link_to "Edit", edit_organisation_path(org.guid)
        - else
          = link_to "switch", user_path(:org_id => org.guid)

  %h3 Organisations you've requested to join

  - if current_user.pending_join_org_requests.any?
    %ul
      - current_user.pending_join_org_requests.each do |r|
        %li
          = r.requestable.name

  - else
    %ul
      %li
        [none]

  = link_to "Add/Join another organisation", organisations_build_new_organisation_path

  %hr

  %h2 Activities

  %h3 #{current_organisation.name}'s Activities

  %ul
    - current_organisation.projects.resources.each do |proj|
      %li
        = proj.name
        = link_to "Edit", edit_project_path(proj.guid)


  %h3 Pending invites for #{current_organisation.name} to join an activity

  - if current_organisation.has_respondable_project_invites?
    %ul
      - current_organisation.respondable_project_invites.each do |inv|
        %li
          You've been invited to #{inv.requestable.name} by #{inv.requestor}.
        = link_to "accept", "#"

  - else
    %ul
      %li
        [none]

  %h3 Pending requests by others to join one of #{current_organisation.name}'s activities

  - if current_organisation.has_respondable_project_requests?
    %ul
      - current_organisation.respondable_project_requests.each do |req|
        %li
          #{inv.requestor} wants to join #{inv.requestable.name}.
          = link_to "accept", "#"
  - else
    %ul
      %li
        [none]

  = link_to "Add/Join an activity for this organisation", new_project_path

  %hr

  %h2 Users

  %h3 Users in #{current_organisation.name}

  %ul
    - current_organisation.users.each do |u|
      %li
        = u.first_name
        - if u.id == current_user.id
          = "(you)."
          = link_to "Edit your user profile", edit_user_path

  %h3 Users requesting membership to #{current_organisation.name}

  - if current_organisation.has_respondable_user_requests?
    - current_organisation.respondable_user_requests.each do |req|
      %ul
        %li
          #{req.requestor.first_name} (#{req.requestor.email})
          = link_to "accept", "#"

  - else
    %ul
      %li
        [none]

  = link_to "invite another user to this organisation", user_invite_organisation_path(current_organisation.guid)

-else
  :markdown
    You are not a member of any organistaions yet.

  = link_to "Add or join an organisation", organisations_build_new_organisation_path, class: 'button'

