.nav-bar
  %a{ href: '/' }= image_tag "logo/dsi-logo-small.png"

  %ul.header-links
    %li= link_to "About", "http://content.digitalsocial.eu/about/"
    %li= link_to "Resources", "http://content.digitalsocial.eu/resources/"
    %li= link_to "Community", "http://content.digitalsocial.eu/community/"
    %li= link_to "Blog", "http://content.digitalsocial.eu/blog/"

  = render 'shared/search_form', placeholder: 'Search for organisations...', form_destination: '/organisations', input_size: 22

  - if content_for?(:sub_menu)
    .hr.hr2.hr-full{style: 'clear: both; float: left; visibility: hidden;'}
  - else
    .hr.hr2.hr-full{style: 'clear: both; float: left;'}

  = yield :sub_menu
