.nav-bar
  %a{ href: '/' }= image_tag "logo/dsi-logo-small.png"

  %ul.header-links
    %li= link_to "About", "/about"
    %li= link_to "Resources", resources_path, :class => yield(:resource_menu_highlighted)
    %li= link_to "Community", community_path, :class => yield(:community_menu_highlighted)
    %li= link_to "Blog", "/blog"

  = render 'shared/search_form', placeholder: 'Search for organisations...', form_destination: '/organisations', input_size: 22

  - if content_for?(:sub_menu)
    .hr.hr2.hr-full{style: 'clear: both; float: left; visibility: hidden;'}
  - else
    .hr.hr2.hr-full{style: 'clear: both; float: left;'}

  = yield :sub_menu
