.dashboard

  .title
    %h1 #{current_organisation.name}'s Dashboard
  = render "dashboard/tabs", active: "Projects"

  .title
    %h2
      Edit
      %strong #{@project.name}
      details

  = simple_form_for @project do |f|
    = render 'error_messages', object: f.object
    = render "projects/fields/basic", f: f
    = render "projects/fields/advanced", f: f

    .wizard-button-wrapper
      = f.button :submit, 'Update project'.html_safe, class: 'button-black'
