.dashboard
  
  %h1 #{current_organisation.name}'s Dashboard
  = render "dashboard/tabs", active: "Activities"

  %h2 
    Edit
    %strong #{@project.name}
    details

  = simple_form_for @project do |f|
    = render "projects/fields/basic", f: f
    = render "projects/fields/advanced", f: f

    .wizard-button-wrapper
      = f.button :submit, 'Update activity'.html_safe, class: 'button-green'