.dashboard
  
  .title
    %h1 #{current_organisation.name}'s Dashboard
  = render "dashboard/tabs", active: "Activities"

  %h2
    Add a partner organisation for
    %strong #{@project.name}


  = simple_form_for @project_invite, url: [:create_new_org_invite, @project] do |f|

    .field-with-notes
      .field
        = f.input :invited_organisation_name, label: 'Organisation Name', input_html: { class: 'organisation-auto-suggest', autocomplete: :off }
      .notes
        %p
          Start typing an organisation name and we'll suggest members of the DSI network.

    = render 'suggestions', button_text: 'Invite', action_url_template: "/projects/#{@project.guid}/create_existing_org_invite?organisation_id=:organisation_id", help: "The following organisations matched that name. Click <strong>Invite</strong> to invite an organisation to be a partner on this activity."

    .field-with-notes
      .fields
        = f.input :user_first_name, required: false
        = f.input :user_email, required: false
      .notes
        %p
          If the organisation you're trying to add doesn't appear in our suggestions, please add a contact email so we can let your partner organisation know #{@project.name} is now part of the DSI network, and invite them to sign up themselves.

    .wizard-button-wrapper
      = f.button :submit, 'Invite organisation', class: 'button-green'
