%h1 Invite Organisation to join Activity

:markdown
  Inivite another organisation to join acitivity: **#{@project.name}**

= simple_form_for @project_invite, url: [:create_invite, @project] do |f|

  .field-with-notes
    .field
      = f.input :invited_organisation_name, label: 'Organisation Name', input_html: { class: 'organisation-auto-suggest', autocomplete: :off }
    .notes
      %p
        Start typing an organisation name and we'll suggest existing ones.

  = render 'suggestions', button_text: 'Invite'

  .field-with-notes
    .fields
      = f.input :user_first_name, required: false
      = f.input :user_email, required: false
    .notes
      %p
        If you're adding a new organisation, please give the name and email of the person you worked with on this activity.

  .wizard-button-wrapper
    = f.button :submit, 'Invite'
