.dashboard

  - if current_organisation
    .title
      %h1 #{current_organisation.name}'s Dashboard
    = render "dashboard/tabs", active: "Activities"

  .title
    %h2 Add/Join an Activity

  = simple_form_for @project do |f|
    = render 'error_messages', object: f.object
    = render "projects/fields/basic", f: f
    = render "projects/fields/advanced", f: f

    .wizard-button-wrapper
      = f.button :submit, 'Create activity'.html_safe, class: 'button-green'