.dashboard

  - if current_organisation
    .title
      %h1 #{current_organisation.name}'s Dashboard
    = render "dashboard/tabs", active: "Projects"

  .title
    %h2 Add/Join a Project

  .wizard-intro
    :markdown

      Please remember we are only interested in projects that are based in the EU and which cover all of the following features:

      * Focus on grass-roots or "bottom-up" communities of users
      * Use online/digital tools or methods in a disruptive way
      * Make a positive social impact
      * Create a "network effect" through collaboration online


  = simple_form_for @project do |f|
    = render 'error_messages', object: f.object
    = render "projects/fields/terms", f: f
    = render "projects/fields/basic", f: f
    = render "projects/fields/advanced", f: f

    .wizard-button-wrapper
      = f.button :submit, 'Create project'.html_safe, class: 'button-black'
