%h1 New project

= simple_form_for @project do |f|
  = f.input :label
  = f.input :webpage
  = f.input :tags_list
  
  = f.input :start_date
  = f.input :end_date

  = f.input :creator_role, as: :select, collection: project_membership_nature_options

  = f.submit "Submit"