%h1 Request to join Activity

:markdown
  You are requesting that **#{current_organisation.name}** joins activity **#{@project.name}**

%hr

= simple_form_for @project_request, url: create_request_project_path(@project.guid) do |f|
  .field-with-notes
    .field
      = f.input :nature_uris, label: 'Relationship in activity', as: :check_boxes, collection: Concepts::ProjectMembershipNature.all.resources, value_method: :uri, required: true
    .notes
      %p How would you describe the roles #{current_organisation.name} plays in this activity?

  / .field-with-notes
  /   .field
  /     = f.input :user_organisation_uri, collection: @project.organisations.resources.map{ |o| [o.name, o.uri] }, include_blank: true, label: "Contact Organisation"
  /   .notes
  /     %p
  /       Which organisation was your main contact for this activity?
  /       Note: these are the current organisations registered for this activity.
  /       If the organisation with which you worked with doesn't appear here, you can omit this question.

  / .field-with-notes
  /   .fields
  /     = f.input :user_first_name, label: 'Contact Name'
  /     = f.input :user_email, label: 'Contact Email'
  /   .notes
  /     %p
  /       Please provide the contact details of a person you worked with at the organisation you selected above (optional).

  = f.button :submit, 'Request membership'