= simple_form_for [:admin, admin] do |f|
  = f.input :email
  = f.input :name
  = f.input :job_title
  = f.input :organisation_name
  = f.input :organisation_url, label: 'Organisation URL (including http://)'
  - if admin.photo.present?
    = image_tag admin.photo.url(:small)
  = f.input :photo, as: :file
  
  - if admin == current_admin
    = f.input :password, label: 'Set new password'
  - elsif admin.new_record?
    = f.input :password, label: 'Set a password', required: true

  = f.submit (admin.new_record? ? "Create admin" : "Update admin"), class: 'button'