.edit
  = simple_form_for [:admin, @admin] do |f|
    = f.input :email
    = f.input :name
    = f.input :job_title
    = f.input :organisation_name
    = f.input :organisation_url, label: 'Organisation URL (including http://)'
    - if @admin.photo.present?
      = image_tag @admin.photo.url(:small)
    = f.input :photo, as: :file, label: 'Set new password'
    = f.input :password

    = f.submit 'Update account'