%li.respondable.clearfix{ class: project_invite.class.to_s.underscore }
  .image
    = image_tag asteroid_image_path

  .text
    .header
      = link_to project_invite.invitor_organisation_resource.name, project_invite.invitor_organisation_resource
      has invited your organisation to join their
      = link_to project_invite.project_resource.name, project_invite.project_resource
      project. 
      = maybe_display_provided_message_preamble project_invite
      %blockquote.personalised_message
        - if project_invite.invited_by_user.present?
          = titlecase_users_name(project_invite.invited_by_user)
          (
          = project_invite.invited_by_user.email
          ) provided the following message: 
      %blockquote.personalised_message
        = project_invite.personalised_message
    .subheader

  .action
    = link_to "Accept", "#", class: 'button button-black accept'
    = link_to "Ignore", [:reject, project_invite], method: :put, class: 'button'

  .natures
    = simple_form_for [:accept, project_invite] do |f|
      = f.input :natures, as: :check_boxes, label: "What is your organisation's role in this project", collection: Concepts::ProjectMembershipNature.all.resources, value_method: :uri, required: true
      = f.button :submit, 'Confirm', class: 'button-black'

