%li.respondable.clearfix{ class: respondable.class.to_s.underscore }
  .image
    = image_tag asteroid_image_path

  .text
    .message
      #{respondable.user.first_name} (#{respondable.user.email})
      has requested to join #{current_organisation.name}

  .action
    = link_to "Accept", [:accept, respondable], method: :put, class: 'button button-black accept'
    = link_to "Ignore", [:reject, respondable], method: :put, class: 'button'
    
