.field-with-notes

  .field
    = f.input :webpage_label, label: 'Website URL'

  .notes
    :markdown
      The address of the website associated with this activity.

.field-with-notes
  .field
    .input
      = f.label :start_date_label, "Activity start date", class: 'dates'
      = f.select :start_date_label, grouped_options_for_select(project_start_date_options, f.object.start_date_label), include_blank: "Select a start date"
    .input
      = f.label :end_date_label, "Activity end date", class: 'dates'
      = f.select :end_date_label, grouped_options_for_select(project_end_date_options, f.object.end_date_label), include_blank: "Select an end date"
  .notes
    %p How long has this particular activity got left to run? This can include the wrap up or evaluation period beyond the main delivery of the activity. It can include future activities that are certain to go ahead.  We are only looking for approximate dates.

.field-with-notes

  .field
    = f.input :areas_of_society_list, label: "Areas of Society Impacted"
    = render 'suggested_tags', tag_class: Concepts::AreaOfSociety, p_id: 'areas-of-society-suggested-tags'
    = render 'tags_js', tag_field_id: "project_areas_of_society_list", suggested_tags_selector: "p#areas-of-society-suggested-tags a", tag_source_url: tags_projects_url(tag_class: "AreaOfSociety")
  .notes
    :markdown
      How would you best describe the areas of society that this activity aims to impact? Click the suggestions under the box to add them, or add your own by typing into the box (type a commma betwen each new entry).

.field-with-notes
  .field
    = f.input :technology_focus_array, as: :check_boxes, collection: Concepts::TechnologyFocus.all.resources, label: 'Technology Focus'
  .notes
    :markdown
      We have created some broad groupings of technology focus to help us understand the wider trends that are taking place in DSI. Please tell us which of the options below best describe the your activity.

.field-with-notes
  .field
    = f.input :technology_method_list, label: "Technology Method"
    = render 'suggested_tags', tag_class: Concepts::TechnologyMethod, p_id: 'technology-method-suggested_tags'
    = render 'tags_js', tag_field_id: "project_technology_method_list", suggested_tags_selector: "p#technology-method-suggested_tags a", tag_source_url: tags_projects_url(tag_class: "TechnologyMethod")
  .notes
    :markdown
      What type of digital tech is involved in this activity? Again, you can click the suggestions under the box to add them, or add your own by typing into the box (type a commma betwen each new entry).


-# reach
.field-with-notes
  .field
    = f.input :reach, label: ReachValue.question_text_for_activity_type(@project.activity_type_resource.slug)
  .notes
    :markdown
      We would like to understand the approximate reach of your activities. This question is aimed at understanding approximate 'size' of your activity. We realise that 'reach' is not the same as impact, influence or engagement and will make this clear when we display this information.

.field-with-notes
  .field
    = f.input :social_impact, as: :text, input_html: { rows: 6 }, label: 'Social Impact'
  .notes
    %p Please give a short description of the type of social impact that you are seeking to achieve through your activity, and any evidence you have of achieving this.