.field-with-notes
  .field
    - if f.object.new_record?
      = f.input :name, label: 'Name of your activity', input_html: { class: 'project-auto-suggest', autocomplete: :off }
      = render 'suggestions', button_text: 'Request to join', action_url_template: '/projects/:project_id/request_to_join'

    - else
      = f.input :name, label: 'Name of your activity', input_html: { autocomplete: :off }
  .notes
    %p Please enter the official title you would give to this activity, i.e. an event name; a research project title etc.

.field-with-notes
  .field
    = f.input :description, as: :text, input_html: { class: 'autosize', rows: 5 }
  .notes
    %p Describe what your activity is about. Please keep this as brief as possible (no more than a few hundred words).

.field-with-notes
  .field
    = f.input :activity_type_label, required: true, label: 'Type of activity', as: :radio_buttons, collection: Concepts::ActivityType.top_level_concepts
    = f.input :activity_type_label_other, label: false, as: :string, placeholder: 'Other - please state', wrapper_html: { class: 'other' }
    = f.error :activity_type
  .notes
    :markdown
      How would you best describe this activity? We would like to understand the main focus of your activity. Please try to pick the best option possible from the list, but if you feel your activity is really different, you can use the _Other_ option, to tell us in a few words.

.field-with-notes
  .field
    = f.input :organisation_natures, label: 'Relationship in activity', as: :check_boxes, collection: Concepts::ProjectMembershipNature.all.resources, value_method: :uri, required: true
  .notes
    How would you describe the roles #{current_organisation.name} plays in this activity?
