.field-with-notes
  .field
    - if f.object.new_record?
      = f.input :name, label: 'Name of your activity', input_html: { class: 'project-auto-suggest', autocomplete: :off }, placeholder: 'Start typing to see suggestions'

    - else
      = f.input :name, label: 'Name of your activity', input_html: { autocomplete: :off }
  .notes
    :markdown
      The title you would use to name this activity, eg. Name of network; event title; a research project title etc.
      We'll suggest existing activities already in the DSI network as you type. <span class='highlight'>Please request to join your activity if it appears as a suggestion</span>.

= render 'suggestions', button_text: 'Request to join', action_url_template: '/projects/:project_id/request_to_join', help: "The following activities matched that name. If the activity already exists click <strong>Request to join</strong> to send a request to the activity's members."

.field-with-notes
  .field
    = f.input :description, as: :text, input_html: { rows: 6 }
  .notes
    %p Describe your activity in brief. We will use this text to describe your activity to others.

.field-with-notes
  .field
    = f.input :activity_type_label, required: true, label: 'Type of activity', as: :radio_buttons, collection: Concepts::ActivityType.top_level_concepts
    = f.input :activity_type_label_other, label: false, as: :string, placeholder: 'Other - please state', wrapper_html: { class: 'other' }
    = f.error :activity_type
  .notes
    :markdown
      How would you best describe this activity? Please try to use categories below; if you feel you do something very different, use Other

.field-with-notes
  .field
    = f.input :organisation_natures, label: 'Role in activity', as: :check_boxes, collection: Concepts::ProjectMembershipNature.all.resources, value_method: :uri, required: true
  .notes
    :markdown
      How would you describe #{current_organisation.name}'s role in this activity?
