#blog
  #content

    .blog-post.clearfix
  
      .title
        %h1= @blog_post.name
        %h2= @blog_post.publish_at.strftime("#{@blog_post.publish_at.day.ordinalize} %B %Y")
        
      .blog-content
        :markdown
          #{@blog_post.body}
      .blog-meta
        %p.author Jon Kingsbury & Peter Baeck
        %p.author-company= link_to "Nesta", "http://www.nesta.org.uk"
