!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")

    = stylesheet_link_tag  "application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    = javascript_include_tag "application"
    = javascript_include_tag "leaflet.markercluster-src"

    = stylesheet_link_tag "MarkerCluster.Default"
    = stylesheet_link_tag "MarkerCluster"

    = csrf_meta_tags
    = render "typekit"
  %body.home
    /[if lte IE 8]
      #out-of-spec
        Sorry - your browser is not supported. Some elements may not function or display as intended. Please upgrade to at least IE9, or a recent version of Chrome/Safari/Firefox.

    #home-map

    .mobile-info
      .text
        %a.hide-info-mobile{href:'#'}
          %icon.icon-circled-down
          Hide this panel
        %h2 Digital Social Innovation
        :markdown
           We're setting up a network of organisations that use the Internet for social good. It just takes a few minutes to get started.
          [Read More](/about).
        .cta.clearfix
          .put-on-map
            = link_to "Put your organisation on the map", [:organisations, :build, :new_user], class: 'button button-green clear'
          .log-in
            Already signed up? #{link_to "Log in", "/users/sign_in"}.
        .credits
          &copy; 2013 #{link_to 'Digital Social Innovation', '/about'}. Built by #{link_to 'Swirrl', 'http://swirrl.com'}.

    .mobile-small-info{style:'display:none'}
      .text
        %a.show-info-mobile{href:'#'}
          %icon.icon-circled-up
          Show more info

    .logo
      = image_tag "logo/dsi-logo.png"
      .links
        = link_to "About", "/about"
        = link_to "Blog", "/blog"
        = link_to "Events", "/events"
        = link_to "Organisations", "/organisations"
        = link_to "Activities", "/projects"

    .info

      .text
        :markdown
          We're setting up a network of organisations that use the Internet for social good.

        %ul
          %li Be part of a growing community of Digital Social Innovation
          %li Inform better policy across the EU
          %li Showcase your work and network to potential funders and investors

        :markdown
          It just takes a few minutes to get started. [Read More](/about).

        .cta.clearfix
          .put-on-map
            = link_to "Put your organisation on the map", [:organisations, :build, :new_user], class: 'button button-green clear'
          .log-in
            Already signed up? #{link_to "Log in", "/users/sign_in"}.

        .info-foot
          .credits
            &copy; 2013 #{link_to 'Digital Social Innovation', '/about'}. Built by #{link_to 'Swirrl', 'http://swirrl.com'}.
          .hide{style:'float:right'}
            %a.hide-info{href:'#', style:'font-style:italic; font-size:14px'}
              Hide this panel
              %icon.icon-circled-right

    .small-info
      %p.show-more
        %a{href:'#'}
          %icon.icon-circled-left
          Show more info

      = link_to "Get on the map", [:organisations, :build, :new_user], class: 'button button-green clear'

    = render "site/index/map_js"


