!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")

    = stylesheet_link_tag  "application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}


    = javascript_include_tag "application"

    = csrf_meta_tags
    = render "typekit"
  %body.home

    #home-map

    .logo
      = image_tag "logo/dsi-logo.png"
      .links
        = link_to "About", "/about"
        = link_to "Blog", "/blog"
        = link_to "Events", "/events"
        = link_to "Organisations", "/organisations"
        = link_to "Activities", "/projects"

    .info

      .text
        :markdown
          We’re setting up a network of organisations that use the internet for social good.
          [Read More](/about).

        %ul
          %li Be part of a growing community of Digital Social Innovation
          %li Inform better policy across the EU
          %li Showcase your work and network to potential funders and investors
          %li Get onto our map of digital social innovators

        %p
          Joining the network is very easy and it will take just a few minutes to get started. Already signed up? #{link_to "Log in here", "/users/sign_in"}.

        = link_to "Put yourself on the map", [:organisations, :build, :new_user], class: 'button button-green clear'

    = render "site/index/map_js"


