!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")

    = stylesheet_link_tag  "application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    = javascript_include_tag "application"
    = javascript_include_tag "leaflet.markercluster-src"

    = stylesheet_link_tag "MarkerCluster"

    = csrf_meta_tags
    = render "typekit"
  %body.home
    /[if lte IE 8]
      #out-of-spec
        Sorry - your browser is not supported. Some elements may not function or display as intended. Please upgrade to at least IE9, or a recent version of Chrome/Safari/Firefox.

    #home-map

    .mobile-info
      .text
        %a.hide-info-mobile{href:'#'}
          %icon.icon-circled-down
          Hide this panel
        %h2 Digital Social Innovation
        :markdown
           We're setting up a network of organisations that use the Internet for social good. It just takes a few minutes to get started.
          [Read More](/about).
        .cta.clearfix
          .put-on-map
            = link_to "Put your organisation on the map", [:organisations, :build, :new_user], class: 'button button-front-page clear'
          .log-in
            Already signed up? #{link_to "Log in", "/users/sign_in"}.
        .credits
          &copy; 2013 #{link_to 'Digital Social Innovation', '/about'}. Built by #{link_to 'Swirrl', 'http://swirrl.com'}.

    .mobile-small-info{style:'display:none'}
      .text
        %a.show-info-mobile{href:'#'}
          %icon.icon-circled-up
          Show more info

    .mobile-filter
      Visible organisations are filtered.
      = link_to "Reset filter", "/"

    = render 'shared/nav_bar'

    -# .small-info
    -#   %p.show-more
    -#     %a{href:'#'}
    -#       %icon.icon-circled-right
    -#       Show more info

      = link_to "Get on the map", [:organisations, :build, :new_user], class: 'button button-front-page clear'

    = render 'site/index/main_panel'

  .active-organisation
    %p Currently viewing network of
    %p.name Swirrl

    %p= link_to "Reset map", "#", class: 'reset-map'


  = render "site/index/map_js"
  = render "analytics"
