!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")

    = stylesheet_link_tag  "application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}


    = javascript_include_tag "application"

    = csrf_meta_tags
    = render "typekit"
  %body.home

    <iframe width='100%' height='100%' frameBorder='0' src='http://a.tiles.mapbox.com/v3/swirrl.map-v2ypw352.html#4/46.241/7.976'></iframe>

    .logo
      = image_tag "logo/dsi-logo.png", style: 'float:right; margin-left:10px; margin-bottom:10px;'

    .info

      .text
        :markdown
          We are looking to hear from organisations who are involved in activities, from coding, to funding to research that focus on how new ways of collaborating online can help make a difference to society.
          [Read More](/about).

        %ul
          %li Show the great work you are doing to a community of potential collaborators and funders.
          %li Be recognised as a pioneer Digital Social Innovator and inspire a growing community in Europe.
          %li Get invited to attend future DSI networking events.

        = link_to "Put yourself on the map", [:organisations, :build, :new_user], class: 'button button-green clear', style: 'float:right;'
        %p
          Already signed up? #{link_to "Log in here", "/users/sign_in"}.


