= render 'user_info'

#header.clearfix
  .logo-wrapper
    %a.logo{ href: '/' }

  .menu
    = link_to 'About', about_path
    = link_to 'Organisations', organisations_path
    = link_to 'Activities', projects_path
    = link_to 'Open Data', 'http://data.digitalsocial.eu', class: 'open-data'

.hr.hr2.hr-full

