
#user-info
  - if user_signed_in?
    %a.current-user{href:"#"}
      %i.icon-user
      #{current_user.first_name}
      - if current_organisation.present?
        @ #{current_organisation.name}
      %i.icon-triangle-down
      %i.icon-triangle-up{style:"display:none"}
    .expanded{style:"display:none"}
      - if current_user.organisation_resources.many?
        .orgs
          %p
            Switch Organisation
          %ul
            - current_user.organisation_resources.each do |org|
              - is_current_org = (current_organisation.uri == org.uri)
              = content_tag :li, class: is_current_org ? 'current' : '' do
                = link_to user_path(org_id: org.guid) do
                  = org.name
                  - if is_current_org
                    %i.icon-check
      .links
        = link_to "Dashboard", user_path, class: 'button'
        = link_to "Log out", destroy_user_session_path

    :javascript
      $("#user-info a.current-user").click( function(e) {
        e.preventDefault();
        $("#user-info .expanded").toggle();
        $("#user-info i.icon-triangle-down").toggle();
        $("#user-info i.icon-triangle-up").toggle();
      });

  - else
    %a.current-user{href: new_user_session_path}
      %i.icon-login
      Log In