= simple_form_for [:admin, blog_post] do |f|
  = f.input :name
  = f.input :body, as: :text
  = f.input :status, as: :select, collection: ["draft", "published"], include_blank: false
  = f.input :publish_at, label: "Publish date", as: :date, order: [:day, :month, :year]
  = f.association :admin, as: :select, label: "Author", collection: Admin.all, include_blank: false
  
  = f.submit (blog_post.new_record? ? "Create blog post" : "Update blog post"), class: 'button'