!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")
    = stylesheet_link_tag    "application"

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    = javascript_include_tag "application"
    
    = csrf_meta_tags
    = render "typekit"

  %body.admin
    
    .container
      = render "header"

      #main.clearfix
        .admin-main= yield
        
