!!!
%html
  %head
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "typekit"
  %body
    
    .container
      = render "header"
      = render "flash", flash: flash
      
      #main.clearfix
        = yield

        = render "temp_user_info"

    =# render "partners"
    =# render "footer"
    = render "analytics"
    = render "baseline"

