!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= [@title, "Digital Social Innovation"].compact.join(" | ")

    = stylesheet_link_tag  "application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    = javascript_include_tag "application"

    = csrf_meta_tags
    = render "typekit"
  %body
    - if admin_signed_in?
      = render "admin/banner"

    /[if lte IE 8]
      #out-of-spec
        Sorry - your browser is not supported. Some elements may not function or display as intended. Please upgrade to at least IE9, or a recent version of Chrome/Safari/Firefox.

    .container
      = render "header"

      #main.clearfix
        = render "flash", flash: flash
        = yield

      - if show_partners
        = render "partners"
      = render "footer"
      = yield :scripts

    = render "analytics"
