!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= ["Digital Social Innovation", @title].compact.join(" | ")

    = render "myfonts"
    = stylesheet_link_tag  "white/application"

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    /[if lte IE 8]
      %link{rel: "stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"}

    =# jquery ui style for tagit.
    %link{rel:"stylesheet", href:"//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"}

    = javascript_include_tag "jquery1.11.1"
    = javascript_include_tag "jquery-ui-1.10.3"
    = javascript_include_tag "leaflet-0.6.4"
    = javascript_include_tag "mapbox-standalone-1.3.1"

    /%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    /%script{src: "//code.jquery.com/ui/1.10.3/jquery-ui.js"}
    /%script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}

    /%script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    = javascript_include_tag "application"

    = csrf_meta_tags

    %script{ src: "http://variable.io/p/nestadsi/beta/viz.js" }
    %link{ rel: "stylesheet", href: "http://variable.io/p/nestadsi/beta/viz.css" }
    
  %body
    - if admin_signed_in?
      = render "admin/banner"

    /[if lte IE 8]
      #out-of-spec
        Sorry - your browser is not supported. Some elements may not function or display as intended. Please upgrade to at least IE9, or a recent version of Chrome/Safari/Firefox.

    = render "white/top"
    = render "white/header"

    #main.clearfix
      = render "flash", flash: flash
      = yield

    = yield :scripts

    = render "analytics"
